---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers

CheckOptions:
  misc-include-cleaner.IgnoreHeaders: 'Eigen/.*'
