.*.swp
.*.swo
.*.swn
.testtimes
__pycache__
*.pyc
build/*
build2/*
cmake-*
dist/*
gsplines.egg-info/*
*.stats
*.o
build/
ifopt_notes
npm-debug.log
compile_commands.json
tests/CMakeCache.txt
tests/CMakeFiles/*
tests/Testing/*
GPATH
GRTAGS
GTAGS
tags
setup_python_env.py
setup_python_env.sh
.cache
.ycm_extra_conf.py
